
@font-face {
    font-family: 'kaiqsites';
    src: url("font/Raleway.ttf")
}

:root {

    --HL: hsl(270, 100%, 92%);
    --midhover: hsl(270, 60%, 75%);
    --mid: hsl(270, 50%, 70%);
    --shadowhover: hsl(270, 40%, 60%);
    --shadow: hsl(270, 35%, 50%);
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#logo {
    width: 5%;
}

a,
#UI {

    font: 0.75rem 'kaiqsites';
    text-decoration: none;
}

a:hover{
    color: var(--shadow);
    text-decoration: underline;
}

a{
    color:var(--mid)
}

#UI {
    color: var(--shadow);
    background-color: var(--mid);
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
}

#UI:hover {
    color: var(--midhover);
    background-color: var(--shadowhover);
}

#UI:focus {
    outline: solid var(--shadow);
}

body {
    display: flex;
    flex-direction: column;
}

div.box {
    border-radius: 1rem;
    margin: auto;
    width: fit-content;

    color: var(--mid);
    font: 2rem 'kaiqsites';

    background-color: var(--HL);
}

div.login {
    margin: 1rem;
    padding: 1rem;
}

#borders {
    width: 100%;
    flex: none;
    font: bold 1rem 'kaiqsites';
    color: var(--mid);

    background-color: var(--shadow);
}

main {
    overflow-y: scroll;
    scrollbar-color: var(--mid) var(--shadow);
    flex: auto;
    height: 500px;
    padding: 2rem;
    background-color: var(--mid);
    ;
}

footer {
    position: fixed;
    bottom: 0;

    padding: 2rem;
}

h1 {
    margin-left: 2rem;
    font-size: 2.5rem;
}